
xcuserdata/
build/
IDETemplateMacros.plist

## Other
*.xccheckout
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

Pods/

/.bundle
/bin
